<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title }} - F1 DriverPedia</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header class="site-header">
      <div class="wrap">
        <h1><a href="/">F1 DriverPedia</a></h1>
        <nav class="site-nav">
          <a href="/drivers/">Drivers</a>
          <a href="/champions/">Champions</a>
        </nav>
      </div>
    </header>

    <main class="wrap">
      {{ content | safe }}
    </main>

    <script src="/assets/js/main.js" defer></script>
  </body>
</html>
