name: Deploy website to apache server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build site
        run: npm run build 
        
      - name: Copy to Apache Root
        run: |
          # Clean the existing apache folder
          rm -rf /var/www/html/*
          # Move the contents of _site to apache root
          cp -r _site/* /var/www/html/